@media (max-width: 500px) {
  .CreateSemester {
    margin-left: 20px;
  }
  .addcategory {
    display: block;
    margin-bottom: 0px;
    width: 100%;
  }
  .addcategory input {
    margin-left: 25px !important;
    width: 310px !important;
  }
  .addcategory button {
    margin-left: 25px !important;
  }
  .update {
    margin-left: 25px !important;
  }
  .table2 {
    margin-top: 300px !important;
  }
  .table3 {
    margin-left: 30px !important;
  }
}
.mainpage {
  background-color: beige;
}
.marquee_allstudents {
  margin-top: 1rem;
}
