.Create_Student button {
  background-color: #996ae4 !important;
  border-color: #996ae4 !important;
  width: 100px;
}
.Create_Student h2 {
  margin-top: 15px;
  margin-left: 0;
  position: relative;
  color: black;
  /* text-align: center; */
  font-size: 25px;
  font-weight: bold;
}
.get_all_student h2 {
  margin-top: 10px;
  margin-left: 0px;
  position: relative;
  color: black;
  /* text-align: center; */
  font-size: 25px;
  font-weight: bold;
}
.get_all_student button {
  width: 100px;
  margin-left: 10px;
}

/* enroll course */
.enrollcourse {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  align-items: center;
  gap: 20px;
}
.enrollcourse .course {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 320px;
  height: auto;
  padding: 0.5rem;
  background-color: #caadfa;
  flex-wrap: nowrap;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.enrollcourse .course:hover {
  border: 2px solid #8042e6de;
}
.enrollcourse .course p {
  width: 165px;
  font-size: 20px;

  color: #8042e6de;
  font-weight: bold;
}

.enrollcourse .course .img {
  background-image: url("/public/assets/images/oop.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 90px;
  height: 90px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.enrollcourse .course .img2 {
  background-image: url("/public/assets/images/c++.png");
}
.enrollcourse .course .img3 {
  background-image: url("/public/assets/images/datastructure.jpg");
}
.enrollcourse .course .img4 {
  background-image: url("/public/assets/images/opratingsystem.jpg");
}
.enrollcourse .course .img5 {
  background-image: url("/public/assets/images/Ecommerce-Shopping-Infographics.png");
}
.enrollcourse .course .img6 {
  background-image: url("/public/assets/images/CRISP_en.png");
  background-size: cover;
}
.delete_btn {
  width: 77.75px;
  height: 38px;
}
.info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.up-del-btn {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
