.Create_Student button {
  background-color: #996ae4 !important;
  border-color: #996ae4 !important;
  width: 100px;
  margin-bottom: 1rem;
}
.Create_Student h2 {
  margin-top: 15px;
  margin-left: 0;
  position: relative;
  color: black;
  /* text-align: center; */
  display: block;
  font-size: 25px;
  font-weight: bold;
}
.get_all_student h2 {
  margin-top: 10px;
  margin-left: 0px;
  position: relative;
  color: black;
  /* text-align: center; */
  font-size: 25px;
  font-weight: bold;
}
.get_all_student button {
  width: 100px;
  margin-left: 10px;
}

/* enroll course */
.enrollcourse {
  width: 105%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  align-items: center;
  gap: 5px;
}
.enrollcourse .course {
  width: 250px;
  height: 380px;
  background-color: white;
  border-radius: 10px;
  text-align: start !important;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-bottom: 15px;
  margin-top: 15px;
  position: relative;
}
.enrollcourse .course:hover {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
.enrollcourse .course .open-now {
  width: 100px;
  height: 25px;
  margin-top: 25px;
  margin-left: 0px;
  background-color: red;
  color: white;
  font-size: 16px;
  text-align: center;
  position: absolute;
}
.enrollcourse .course img {
  width: 250px;
  height: 160px;
  border-radius: 5px;
  margin-left: 0px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.enrollcourse .course2 {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: 320px;
  height: auto;
  padding: 0.5rem;
  background-color: #caadfa;
  flex-wrap: nowrap;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.enrollcourse .course h3 {
  width: 90%;
  margin-top: 10px;
  margin-left: 20px;
  font-size: 23px;
  color: rgb(51, 51, 51);
  font-weight: 600;
}

.enrollcourse .course p {
  width: 100%;
  margin-left: 20px;
  font-size: 18px;
  color: rgb(82, 81, 81);
  margin-top: -10px;
}
.up-del-btn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
}
.up-del-btn button {
  width: 90%;
  height: 38px;
  border-radius: 50px;
  margin: auto;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.infooo {
  text-align: start;
}

.marquee {
  font-weight: bold;
}
#uploadgrade {
  margin-top: "20px";
  height: "70px";
  display: "flex";
  flex-wrap: "wrap";
  gap: "10px";
}

@media (max-width: 500px) {
  .Create_Student {
    display: flex;
    flex-wrap: wrap;
    margin-left: 2rem;
  }
  .Create_Student .part2 {
    margin-top: 0.7rem;
  }
  .Create_Student input {
    flex-wrap: wrap;
    width: 20rem;
  }
  .Create_Student select {
    flex-wrap: wrap;
    width: 20rem;
  }
  .enrollcourse .course {
    margin-left: 1.5rem;
    width: 310px !important;
  }
  .enrollcourse .course img {
    width: 270px;
  }
  .loadmore {
    margin-left: 0;
  }
  .marquee {
    width: 17rem;
  }
  .get_all_student {
    margin-left: 2rem;
  }
}
.doctorInfo {
  text-align: center;
}
.Materials_select {
  margin-top: 15px;
}
