* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.dashboard-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.coulmns {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.main-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.main {
  width: 15rem;
  height: 150px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1.9rem;
  text-align: center;
  color: black;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  cursor: pointer;
  transition: 0s;
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -ms-transition: 0s;
  -o-transition: 0s;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.main:hover {
  border: 2px solid rgba(57, 2, 121, 0.753);
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transition-duration: 0.5s;
}
.main i {
  font-size: 45px;
  color: rgba(57, 2, 121, 0.753);
}
.main h3 {
  margin-top: 0.5rem;
  font-size: 1.1rem;
  color: black;
  font-weight: bold;
}
.main p {
  font-size: 20px;
  color: gray;
  font-weight: bold;
}
/* instructor */
.instructor {
  width: 20rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 30px;
  margin-left: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.instructor .title {
  margin-left: 20px;
}
.instructor .title p {
  font-weight: bold;
  font-size: 20px;
}
.instructor .images {
  margin-left: -5px;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
.instructor .images img {
  margin-left: 10px;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.notics {
  margin-top: 2rem;
  margin-left: 1.2rem;
}
@media (max-width: 500px) {
  .dashboard-container {
    flex-direction: column;
  }
  .main-container {
    flex-wrap: wrap;
    margin-left: 1.5rem;
  }
  .instructor {
    margin-left: 1rem;
  }
  .main {
    width: 20rem;
  }
}
