* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 58rem;
  margin-top: -10px;
}
.nav-bar .search input {
  width: 15.5rem;
  height: 40px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: none;
  text-indent: 10px;
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.3);
}
.nav-bar .info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-bar .info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 1px solid red;
  margin-top: -5px;
}
.nav-bar .info .details {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 10px;
  margin-top: 5px;
}
.nav-bar .info .details h3 {
  font-weight: bolder;
  font-size: 17px;
  margin-bottom: -10px;
}
.nav-bar .info .details p {
  margin-top: 8px;
  font-weight: bold;
  color: rgb(110, 110, 110);
}

/* .show-navbar::hover .sidebar-container {
  display: block;
} */
.dropdown {
  display: none;
}
@media (max-width: 500px) {
  .nav-bar {
    gap: 10px;
    margin-left: 1.5rem;
    width: 20rem;
    flex-wrap: wrap;
  }
  .dropdown {
    display: block;
  }
  .nav-bar .info {
    margin-top: 1rem;
    order: 1;
  }
  .nav-bar .info h3 {
    font-size: 26px !important;
    font-weight: 700 !important;
  }
  .nav-bar .info p {
    font-size: 20px;
  }
  .nav-bar .search {
    order: 2;
  }
  .nav-bar .search input {
    width: 20rem;
  }
  #staticBackdrop {
    width: 350px;
  }
}
