* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.poster {
  position: relative;
  background-color: #915ee4de !important;
}
.poster p,
h2 {
  margin-left: 3.7rem;
  position: absolute;
  color: white;
}
.poster .p1 {
  position: absolute;
  margin-top: 2.3rem;
}
.poster h2 {
  margin-top: 9.5rem;
}
.poster .p2 {
  margin-top: 12rem;
}
.poster .p3 {
  margin-top: 11rem;
  color: rgb(43, 42, 42);
}
.poster .p4 {
  margin-top: 12.5rem;
  color: rgb(43, 42, 42);
}
.icon {
  position: relative;
  right: 0;
}
.studentt {
  position: absolute;
  right: 0px;
  height: 100%;
  width: 30rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
