* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.sidebar-container {
  position: fixed;
  color: #fff;
  background-color: #996ae4;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18%;
  height: 565px;
  margin: 20px 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.sidebar-container .icon-container {
  margin-top: 30px;
  width: 120px;
  height: 100px;
  /* background-color: midnightblue; */
  margin-right: 30px;
  text-align: center;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.sidebar-container .icon-container img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  /* margin-top: 10px; */
  font-size: 70px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.sidebar-container .item {
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: 80px;
  margin-top: 10px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.sidebar-container .selected {
  color: black;
}
.sidebar-container .selected a {
  color: black !important;
}
.sidebar-container .login {
  width: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  left: 40px;
  bottom: 10px;
  margin-top: 90px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.sidebar-container .login a {
  text-decoration: none;
  color: white;
  /* font-weight: bold; */
  font-size: 20px;
  margin-left: 10px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.signup {
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: 80px;
  margin-top: 10px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.signup a {
  text-decoration: none;
  color: white;
  /* font-weight: bold; */
  font-size: 20px;
  margin-left: 10px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.sidebar-container .item a {
  text-decoration: none;
  color: white;
  /* font-weight: bold; */
  font-size: 20px;
  margin-left: 10px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.sidebar-container .item a:hover {
  color: black;
}
.sidebar-container .item:hover {
  color: black;
}
