* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.sidebar-container {
  color: #fff;
  background-color: #996ae4;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 15rem;
  height: 35.5rem !important;
  margin: 1.25rem 1.25rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.sidebar-container .icon-container {
  margin-top: 2rem;
  margin-bottom: 1.25rem;
  width: 120px;
  height: 6.3rem;
  /*background-color: midnightblue;
  */
  margin-right: 1.2rem;
  text-align: center;
  border-radius: 1.2rem;
  -webkit-border-radius: 1.2rem;
  -moz-border-radius: 1.2rem;
  -ms-border-radius: 1.2rem;
  -o-border-radius: 1.2rem;
}
.sidebar-container .icon-container img {
  width: 6.3rem;
  height: 6.3rem;
  border-radius: 50%;
  font-size: 70px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.sidebar-container .item {
  position: relative;
  width: 100%;
  display: flex;
  align-items: baseline;
  text-decoration: none;
  color: white;
  padding-left: 2rem;
  cursor: pointer;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  gap: 5px;
}


.sidebar-container .login {
  width: 100%;
  display: flex;
  position: absolute;
  left: 35px;
  bottom: 10px;
  margin-top: 90px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: baseline;
  cursor: pointer;
  margin-left: 15px;
}
.sidebar-container .login p {
  margin-left: 0.3rem;
  font-size: 1.05rem;
}

/* .sidebar-container .item:hover {
  color: black;
  transition: ease all 900ms;
} */
.logout_Button {
  cursor: pointer;
}
/* .NavLink {
  color: white;
  padding-top: 0.7rem;
  margin-left: 0.3rem;
  font-size: 1.05rem;
} */
/* .NavLink:hover {
  color: black;
  transition: ease all 800ms;
} */

/* .NavLink:focus {
  color: black;
  transform: scale(1.1);
  transition: all ease 800ms;
} */

@media (max-width: 500px) {
  .sidebar-container {
    width: 17.5rem;
    margin-left: 0;
  }
}

.Side_li {
  text-decoration: none;
  list-style: none;
  color: white;
  padding-top: 0.7rem;
  margin-left: 0.3rem;
  font-size: 1.05rem;
}
.Side_li:hover{
color: black;
}
.Side_li.Side_li:focus{
color: rgba(0, 0, 0, 0.744) !important;
scale: 1.3 !important;
}
.NavLink{
  text-decoration: none;
  list-style: none;
  color: white;
  padding-top: 0.7rem;
  margin-left: 0.3rem;
  font-size: 1.05rem;
}
.NavLink:hover{
color: white;
}